body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: #00ff00;
}

.container {
    text-align: center;
    /* Center text horizontally */
    background-color: #000;
    padding: 20px;
    border: 2px solid #00ff00;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.2);
    border-radius: 5px;
    max-width: 100%;
    width: 600px;
}

#game-container {
    margin-top: 20px;
}

#guess-input {
    width: 40px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #00ff00;
    background-color: #000;
    color: #00ff00;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #000;
    color: #00ff00;
    border: 2px solid #00ff00;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #00ff00;
    color: #000;
}

#hangman-art {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 20px;
    white-space: pre;
}

#logo {
    font-size: 14px;
    line-height: 1.2;
    white-space: pre;
    margin-bottom: 20px;
}

#message {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: #00ff00;
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    #guess-input {
        width: 30px;
        font-size: 16px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }

    #hangman-art {
        font-size: 14px;
    }

    #logo {
        font-size: 12px;
    }
}