<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman Game</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="container">
        <pre id="logo"></pre>
        <h1>Hangman Game</h1>
        <div id="game-container">
            <pre id="hangman-art"></pre>
            <p id="word-display"></p>
            <p id="message"></p>
            <input type="text" id="guess-input" maxlength="1">
            <button onclick="makeGuess()">Guess</button>
        </div>
    </div>
    <script src="../static/js/scripts.js"></script>
</body>

</html>
